package views

import (
	"eventify/models"
	"eventify/views/components/display"
)


templ GetOuterHtml[T any](model T, title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.min.js"></script>
			<title>{ title }</title>
		</head>
		<body class="bg-gray-100 flex items-center justify-center min-h-screen">
			<div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-lg" id="hx-frame" hx-trigger="click" hx-swap="innerHTML">
				switch any(model).(type) {
				case models.Event:
					@components.FormatEvent(any(model).(models.Event))
				case models.Booking:
					@components.FormatBooking(any(model).(models.Booking))
				default:
					fmt.Println("Unknown type")
				}
			</div>
		</body>
	</html>
}


templ EditOuterHtml[T any](model T, title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.min.js"></script>
			<title>{ title }</title>
		</head>
		<body class="bg-gray-100 flex items-center justify-center min-h-screen">
			<div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-lg" id="hx-frame" hx-trigger="click" hx-swap="innerHTML">
				switch any(model).(type) {
				case models.Event:
					@components.EditEvent(any(model).(models.Event))
				case models.Booking:
					@components.FormatBooking(any(model).(models.Booking)) // TODO: Implement EditBooking
				default:
					fmt.Println("Unknown type")
				}
			</div>
		</body>
	</html>
}